<article  class = "d-flex flex-column justify-content-center align-items-center "
style = "background-color: rgb(235, 235, 235);
         padding: 2vh; margin: 4vh;
         box-shadow: 0 0 30px rgba(0, 0, 0, 0.473);
         border-radius: 1%;">


    <img [@likeState] = 'likeStateC' src="{{pictureData.url}}"  style = "width:100%; border-radius: 1%"alt="{{'Image of ' +pictureData.title}}">
    <h2 [@likeState] = 'likeStateC' style = "padding-top: 2vh; text-align: center;"> {{pictureData.title}}</h2>
    <p [@likeState] = 'likeStateC' >{{pictureData.date}}</p>
    <p [@likeState] = 'likeStateC' style = 'text-align: center; color: rgb(53, 74, 102);'>{{pictureData.explanation}}</p>

    <button class = 'btn {{liked? "btn-dark": "btn-outline-dark"}}' (click) = 'toggleLike()'>{{ liked? 'Unlike':'Like'}}</button>


  <img [@heartState] = 'hideHeart' src="../../assets/heart.png"  style = " position:absolute; width:500px; margin:auto;"alt="Heart">

  <h3 [@heartState] = 'hideUnlike' src="../../assets/heart.png"  style = " text-align: center; color:black; position:absolute; width:500px; margin:auto;">Unliked</h3>


</article>


